body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
}
.outer-circle{
    position: absolute;
    height: 200px;
    width: 200px;
    background: linear-gradient(#f83200,#01bb29,#3a023305);
    border-radius:50%;
    animation: rotate 1.5s linear infinite;
}

.outer-circle span{
    position: absolute;
    height: 200px;
    width: 200px;
    background: linear-gradient(#22be03,#857806,#ca0245);
    border-radius:50%;
}
span:nth-child(1) {
    filter: blur(5px);
}
span:nth-child(2) {
    filter: blur(10px);
}
span:nth-child(3) {
    filter: blur(25px);
}
span:nth-child(4) {
    filter: blur(150px);
}
.inner-circle{
    height: 180px;
    width: 180px;
    position: absolute;
    background: black;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 9;
}

@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

